<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Pet Care Guide & FAQ's  </title> 
        <link rel="website icon" type="png" href="td.png" >
        <link rel="stylesheet" type="text/css" href="a.css">
        <link rel="stylesheet" type="text/css" href="petcss.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-width:1440px)" href="phone.css">
       <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?ly=Audiowide|Sofia|Trirong">-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <!-- for the star review-->
    </head>
<body>
<div class="main mm" style="box-shadow:0 0 40px black;">
    <nav>
        <lable class="logo">PETnology</lable><!--The systematic study and organization of everything dealing with knowing and knowledge.-->
        <ul class="maintab" >
            <li><a href="#"> <b>PET's</b> </a>
                <div class="menu">
                    <ul class="mdropdown" type="none"><strong>
                        <li><a href="dog.html"> DOG</a></li>
                        <li><a href="cat.html"> CAT</a></li>
                        <li><a href="bird.html"> BIRD</a></li>
                        <li><a href="fish.html"> FISH</a></li></strong>
                    </ul>
                </div>
            </li>
            <li><b><a class="active" href="#">Home</b></a></li>
            <li><b><a href="aboutus.html">About Us</b></a></li>
            <li><b><a href="contactus.html">Contact Us</b></a></li>
            <li><b><a href="feedback.html">Feedback</b></a></li>
            <li><b><a href="login.html" class="l">Sign In</b></a></li>
        </ul>    
        <h1 style="margin-top:50px; color:white; font-size:50px; margin-left:40px; font-variant: inherit; padding:10px;"> IT'S ALL ABOUT <br>THE LOVE &<br> CARE</h1>
        <p style="color:white; margin-left:40px; font-size:35px; font-family:Arial, Helvetica, sans-serif;padding:10px;">FROM OUR FAMILY<br> TO YOURS</p>
    </nav>  
    <h3 style="text-align: center; color:white; margin-top: 20%; font-size: 70px;"> Categories </h3>
    <ul type="none" class="categ_main" style="margin-top: 0%; margin-left: 200px;">
        <li class="cm"> <br><a href="dog.html"><img src="mainpics/ccat_d.jpg" height="200px" width="200px" alt="Dogs">  <br><br>
        </a></li>
    
        <li class="cm"> <br><a href="cat.html"><img src="mainpics/ccat_c3.jpeg" height="200px" width="200px" alt="Dogs">  <br><br>
        </a></li>
   
        <li class="cm"> <br><a href="bird.html"><img src="mainpics/ccat_b.jpg" height="200px" width="200px" alt="Dogs">  <br><br>
        </a></li>

        <li class="cm"> <br><a href="fish.html"><img src="mainpics/ccat-f.webp" height="200px" width="200px" alt="Dogs">  <br><br>
        </a></li>
    </ul>
</div>
<p><!--
    <p style="font-size:20px;"> Click to learn More About Fish</b></p></a></li>
    <form class="search-form">
        <input type="text" placeholder="  Search.." class="in">
        <button type="submit" class="in bu1 bu2 "><i>Search</i> </button>
        </form>-->
</p> 


<div>
    <h2 style=" margin-top: 10%; font-size:45px; margin-bottom:20px; margin-left: 570px; width:700px;" >  Facilities We Offer</h2>
    <ul type="none" class="facweprovide_main" style="align-self:center;">
        <li class="facilitiesweprov"> <br><b style=" font-size:xx-large;"> Ask Doubt</b>  <br><br>
        <p style="font-size:20px;">Have a Doubt / Problem tell us. Our Team will provide you with Solutions.</p></li>
    
        <li class="facilitiesweprov"> <br> <b style=" font-size:xx-large;"> Information about your loved Pets</b> <br> <br>
        <p style="font-size:20px;">We have information about your bestfriends which we have collected by refining and selecting the best information out about your pets.</p> </li>

        <li class="facilitiesweprov"> <br><b style=" font-size:xx-large;"> Consultaion  </b><br><br>
        <p style="font-size:20px;">We will Assist You with the best information collected about Your Best Friend</p></li>
    </ul>
</div>

<div>
    <h2 style=" margin-top: 7%; font-size:45px; margin-bottom:20px; margin-left: 580px; width:700px;">  Why Choose Petnology ?</h2>
    <p style="margin-left: 400px; width:700px; text-align: center;"> We offer a wide range of information about animal types to our best knowledge about the animal.</p>
    <div class="bp_main">
        <div class="bp">
            <i class="fa fa-cogs" style=" font-size:45px;"></i>
            <h5 style=" font-size:xx-large; text-align: center; margin:10px;">Raw Data</h5>
            <p style="padding:20px; padding-top:10px; text-align: center;">The data is collected throughout many websites and vetenarian universities for the animals</p>
        </div>
        <div class="bp">
            <i class="fa fa-braille" style=" font-size:45px;"></i>
            <h5 style=" font-size:xx-large; text-align: center; margin:10px;">RIFINING</h5>
            <p style="padding:20px; padding-top:10px; text-align: center;">The Raw data is then Sorted / Refined according to the Specific Animal Type </p>
        </div>
        <div class="bp">
            <i class="fa fa-group" style=" font-size:45px;"></i>
            <h5 style=" font-size:xx-large; text-align: center; margin:10px;">PRESENTING</h5>
            <p style="padding:20px; padding-top:10px; text-align: center;">The than refined Data is Presented to the user in a Simple and Understanging Format for better Understanding.</p>
        </div>
    </div>
    <div class="bp_main1">
        <div class="bp">
            <i class="fa fa-server" style=" font-size:45px;"></i>
            <h5 style=" font-size:xx-large; text-align: center; margin:10px;">RESERCH & DEVELOPMENT</h5>
            <p style="padding:20px; padding-top:10px; text-align: center;">The data collected is used to improve the Product's & Care of the Animal's in Future.</p>
        </div>
    </div>
</div>

<div>
    <h2 style=" margin-top: 100px; font-size:45px; margin-bottom:20px; text-align: center;  margin-top: 7%;" id="tt"> Testimonials </h2>
    <p style="text-align:center; width:1400px;"> Know What other PetParents Say about Us.</p>
    <div class="test_main">
        <div class="testelement">
            <table>
                <tr>
                    <td><img src="fwpm1.webp" ></td>
                    <td>
                        <p style="font-size:22px;"><h1 style="margin-top:0px;">Maya Samdade</h1><br>
                            My expireance with petnology was very good.<br> The staff replyed to my mail with-in 2 days with complete information on the 
                            asked problem with presized explanation. Which helped me to improve my pets Environment that helped him to develp well.<br>
                            Thanks to the staff my pet is now Healthy and Happy.</p>
                            <div class="rates">
                            <i class="fa fa-paw" style="padding-left:10px;"></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i><i class="fa fa-paw r1"></i>
                            </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="test_main">
        <div class="testelement">
            <table>
                <tr>
                    <td><img src="cwp.jpg" ></td>
                    <td>
                        <p style="font-size:22px;"><h1 style="margin-top:0px;">Sneha Jadhav</h1><br>
                            Petnology has a Wide Range of Information on Animals with <br>scientific Research that helped my pets to stay Happy and Healthy.
                        <br>They also provided me with the complete information about my pet which helped me to improve their environment which helped them to 
                            Enrich. <br>Thanks to Petnology my pets are Happy and Healthy.</p>
                            <div class="rates">
                                <i class="fa fa-paw"  style="padding-left:10px;"></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i>
                            </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div>
    <h2 style="text-align:center; margin-top: 7%; font-size:45px; margin-bottom:20px;" id="tt"> Future of Petnology</h2>
    <ul type="none" class="fofpet" >
        <li class="fofpet1"><br>Helping Strays and Victims of Abuse by Donations and Adoption to Find their Forever Homes.</li>
        <li class="fofpet1">As Animal is of vital importance, our website can help increase importance and awareness of Pets.</li>
        <li class="fofpet1"><br><br>We can add new features as and when we require.</li>
    </ul>
        <p class="fofpet2">This website can be a Medium for Managing and Documenting the Information Collected through Reviews and Feedback and 
            many more for Future Research and Development of Pet Products and Care.</p>
   

</div>

<h1 style="text-align:center; margin-top: 7%; font-size:45px; margin-bottom:20px;" id="tt">User Ratings</h1>
<p style="font-size: 20px; text-align:center; margin-left: 300px; width:900px;">4.1 average based on 254 reviews.</p>
<hr style="opacity: 0; height:20px; ">
<div class="userate" >
    <i class="fa fa-paw" ></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i><i class="fa fa-paw"></i><i class="fa fa-paw r1"></i>
</div>
<hr style="opacity: 0; height:20px; ">
<div>
    <div class="row">
        <p>5 Star</p>
        <div class="cont">
            <div id="bar5">ly</div>
        </div>
        <p>150</p>
    </div>
    <br>
    <div class="row">
        <p>4 Star</p>
        <div class="cont">
            <div id="bar4">ly</div>
        </div>
        <p>63</p>
    </div>
    <br>
    <div class="row">
        <p>3 Star</p>
        <div class="cont">
            <div id="bar3">ly</div>
        </div>
        <p>15</p>
    </div> 
    <br>
    <div class="row">
        <p>2 Star</p>
        <div class="cont">
            <div id="bar2">ly</div>
        </div>
        <p>6</p>
    </div>
    <br>
    <div class="row">
        <p>1 Star</p>
        <div class="cont">
            <div id="bar1">ly</div>
        </div>
        <p>20</p>
    </div>
</div>
<hr style="opacity: 0; height:20px; ">

<h1 style=" margin-top: 3%; font-size:45px; margin-bottom:50px; margin-left: 580px; width:700px;"><a href="feedback.html" style="text-decoration:underline; color:black"> Give Us Feedback</a> </h1>

<button class="fa fa-arrow-up" id="topbtn" onclick="topFunction()"></button>

<p></p>
<div class="foot">
<table> 
    <tr>
        <td>
            <div class="f1">
                <h1 style="font-size:18px;"> Quick Links</h1>
                <p>Guide</p>
                <ul type="none">
                    <li><a href="dog.html">Dog</a></li>
                    <li><a href="cat.html">Cat</a></li>
                    <li><a href="bird.html">Bird</a></li>
                    <li><a href="fish.html">Fish</a></li>
                </ul>
                <br>
                <p>FAQ's</p>
                <ul type="none">
                    <li><a href="dog_QA.html">Dog FAQ</a></li>
                    <li><a href="cat_QA.html">Cat FAQ</a></li>
                    <li><a href="bird_QA.html">Bird FAQ</a></li>
                    <li><a href="fish_QA.html">Fish FAQ</a></li>
                </ul>
            </div>
        </td>

        <td>
            <div class="f2">
                <a href="feedback.html"> Feedback</a><br>
                <a href="aboutus.html"> About Us</a><br>
                <a href="contactus.html"> Contact Us</a>
            </div>
        </td>
    
        <td>
            <div>
                <div>
                    <h1 style="margin-left:30px; margin-top:10px; font-size:22px;">It's right to fight for animal rights.<br>
                        Let us unite for them.</h1>
                </div>   
                <div class="footemail" ><form>
                    <input placeholder=" Have a Question Ask Us...." type="text" class="em">
                    <button type="submit" class="butn" onclick="su()"><i class="fa fa-arrow-right"></i></button>
                </form>
                </div>
                <div> 
                    <p class="cin">Contact information<br>
                        petnology.m@gmail.com  |  9876785439  
                    </p>
                </div>  
                <div>
                    <lable class="logooffooter">PETnology</lable>
                    <p style="margin-left:120px; font-size:16px;">#ParentInPethood</p>
                </div>  
                <div>
                    <ul type="none" class="socialm">
                        <li class="fam"><i class="fa fa-facebook-square"></i>
                        <p class="cnt">petnology_._</p></li>
                        <li class="fam"><i class="fa fa-telegram"></i>
                        <p class="cnt">@petnology_._</p></li>
                        <li class="fam"><i class="fa fa-twitter"></i>
                        <p class="cnt">petnology_@_</p></li>
                        <li class="fam"><i class="fa fa-youtube-play"></i>
                        <p class="cnt">petnology</p></li>
                        <li class="fam"><i class="fa fa-instagram"></i>
                        <p class="cnt">_petnology.._</p></li>
                    </ul>    
                </div>    
            </div>    
        </td>
    </tr>
</table>

    <div>
        <ul class="policy" type="none">
            <li class="p1"> PRIVACY POLICY</li>
            <li class="p1"> TERMS OF USE</li>
            <li class="p1"> TERMS OF SERVICE</li>
            <li class="p1"> LEGAL POLICY</li>
        </ul>
    </div>
        
</div>

<script>
    function su(){
        window.alert("Your Question has been registered with us.\n We will Answer you Shortly.")
    }

    

    function topFunction() {
        const topbtn = document.querySelector("#topbtn");
        
        topbtn.addEventListener("click",function(){

            window.scrollTo({
                top:0,
                behaviour:"smooth"
            });
        
            $("html, body").animate({scrollTop:0},"fast");

        });


       /* $(document).ready(function(){

$(window).scroll(function(){
    if((this).scrollTop()>100){
        $('#topbtn').fadeIn();
    }
    else{
        $('#topbtn').fadeOut();
    }
});

$('#topbtn').click(function(){
    $('html ,body').animate({scrollTop:0},800);
});
});
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;*/
}

</script>

</body>    
<!--logo  home AU cu feedback  signin/login-->
</html>
